<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="E2E-project"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="E2E_project.inputFormSubmit"/>
<listEntry value="E2E_project.inputFormSubmit_testcase3"/>
<listEntry value="resources.listeners"/>
<listEntry value="E2E_project.table_testcase6"/>
<listEntry value="resources.base"/>
<listEntry value="E2E_project.javaScript_testcase5"/>
<listEntry value="E2E_project.inputform_testcase1"/>
<listEntry value="E2E_project.actionClass_testcase4"/>
<listEntry value="E2E_project.homepage"/>
<listEntry value="E2E_project.javaScript_Demo"/>
<listEntry value="E2E_project.actionClassDemo"/>
<listEntry value="E2E_project.tableDemo"/>
<listEntry value="E2E_project.simpleFormInput"/>
<listEntry value="E2E_project.table_testcase7_SoftAssert"/>
<listEntry value="E2E_project.dropDown_testcase2"/>
<listEntry value="E2E_project.selectDropdown"/>
<listEntry value="resources.extentReport_class"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
